<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-FINE</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao FINE</h1>
        <p>Página inicial do nosso software.</p>
    </header>
    <main>
        <section>
            <h2>Funcionalidades</h2>
            <ul>
                <li><a href="">Cadastrar Despesas e Receitas</a></li>
                <li><a href="/criar-metas">Criar Metas</a></li>
                <li><a href="">Extra</a></li>
            </ul>
        </section>
        
    </main>
</body>
</html>